<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="2d5c4c16-e149-41ef-a213-720f0b0e63b6" Publisher="CN=Nigel" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Spinkit.Xaml</DisplayName>
    <PublisherDisplayName>Nigel Sampson</PublisherDisplayName>
    <Logo>Resources\Images\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Spinkit.Xaml.App">
      <m2:VisualElements DisplayName="Spinkit - Xaml" Square150x150Logo="Resources\Images\Logo.png" Square30x30Logo="Resources\Images\SmallLogo.png" Description="Xaml port of the Spinkit spinners." ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Resources\Images\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>